* {
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
	background-color: #ffffff;
	color: black;
}

header {
	background-color: rgb(27, 65, 95);
	height: 3em;
	color: #FFF;
	margin-bottom: 1em;
	height: 50px;
}

header h1, header h2 {
	font-size: 2em;
	display: inline-block;
	vertical-align: middle;
}

header .container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.container {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	padding: 10px;
}

section {
	margin: 2em 0;
	overflow: hidden;
}

section h2 {
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

table {
	width: 100%;
	margin-bottom: 2em;
	/* table-layout: fixed; */
	box-shadow: rgba(0, 0, 0, .2) 0 2px 5px;
	margin-bottom: 20px;
	border-radius: 5px;
	overflow: hidden;
	background-color: rgb(255, 255, 255);
}

.paciente:hover {
	background-color: #eee;
}

.paciente:hover .trash {
	cursor: pointer;
	opacity: 50%
}

td,
th {
	padding: .7em;
	margin: 0;
	text-align: center;
	color: black;
	padding: 10px;
}

th {
	font-weight: bold;
	background-color: rgb(27, 65, 95);
	padding: 15px 0;
	color: #eee;
}

.trash {
	opacity: 0%;
}

label {
	display: block;
	margin-bottom: .2em;
}

.campo {
	border-radius: 5px;
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 0;
	padding: .7em;
	width: 100%;
}

.campo-medio {
	display: inline-block;
}

.grupos {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.grupo {
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

button {
	padding: .5em 2em;
	border: 0;
	border-radius: 5px;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	color: #fff;
	background-color: rgb(27, 65, 95);
	display: block;
	clear: both;
	margin: 10px 0px;
}

button:active {
	margin-top: 12px;
	border: 0;
}

button[disabled=disabled],
button:disabled {
	background-color: gray;
	border-color: darkgray;
}

.adicionar-paciente {
	margin-top: 30px;
}

.campo-invalido {
	border: 1px solid red;
}

.invalid-attribute {
	background-color: rgb(255, 212, 204);
}

input {
	background-color: #eee;
}

.fadeOut {
	opacity: 0%;
	transition: 500ms;
}

#filtrar-tabela {
	width: 200px;
	height: 35px;
	margin-bottom: 10px;
}

.invisivel {
	display: none;
}